<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Aarti Dorale</h1>

    <h3><%= 2*3 %></h3>

    <h4><%= ["aarti", "rameshvari", "priya"][1] %></h4>

    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda delectus ab explicabo itaque quos qui rem, enim beatae laborum 
    exercitationem perspiciatis ducimusipsum mollitia reprehenderit aperiam, tenetur, ut soluta?Laudantium hic nisi dolor veniam omnis quis
    voluptatum. Voluptates perspiciatis atque neque totam. Reiciendis at neque, vel non quas blanditiis, natus
    incidunt fugit sed molestias impedit quisadipisci quidem amet.</P>

    <button>Click Me</button>

</body>
</html>